<!DOCTYPE html>
<html lang="en" layout:decorator="layout/default">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
  
  <div class="p-5 bg-light" layout:fragment="content">
    <div class="container">
        <h1 class="display-3">NVC COMPANY</h1>
        <p class="lead">Spring Data JPA Practice and Homework</p>
        <hr class="my-2">
        <p class="lead">
            <a class="btn btn-success btn-lg" href="#" role="button">Pantira R.</a>
        </p>
    </div>
</div>
</body>
</html>
